@use '../../scss/vars';

.devices {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    min-width: 0;
    border-top: 1px solid vars.$color-border;
  }

  &__title {
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: vars.$color-text-secondary;
    background: vars.$gradient-surface;

    @media screen and (min-width: vars.$breakpoint-tablet) {
      padding: 16px 24px;
    }

    @media screen and (min-width: vars.$breakpoint-desktop) {
      padding: 16px 32px;
    }
  }

  &__device-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid vars.$color-card-border;
    border-radius: 6px;
  }

  &__device-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    align-self: flex-start;
  }

  &__card-button {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 13px 12px 15px;
    border: 2px solid vars.$color-accent;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    align-self: flex-end;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }
  }

  &__more-button {
    display: none;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    padding-left: 24px;
    max-width: max-content;

    @media screen and (min-width: vars.$breakpoint-tablet) {
      display: flex;
    }

    @media screen and (min-width: vars.$breakpoint-desktop) {
      padding-left: 32px;
    }
  }

  &__expand-icon {
    transition: transform 0.5s;

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__more-button-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}
