.header__container {
  padding: 18.59px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 18.59px 24px;
  }
}
