@use '../../scss/vars';
@use '../../scss/mixins';

.sidebar {
  max-width: 320px;
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 16px 0 52px #0e185033;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s;

  @media screen and (min-width: 1120px) {
    position: sticky;
    transform: translateX(0);
    box-shadow: none;
    height: 100vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
    height: 100%;
    padding: 18.8px 24px 32px 24px;
    overflow: auto;
  }

  &__top {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-left {
    display: flex;
    column-gap: 16.73px;
    align-items: center;
  }

  &__icon {
    @include mixins.icon-style;

    img {
      transition: transform 0.3s;
    }

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;

      img {
        transform: scale(0.9);
        transition: transform 0.3s;
      }
    }
  }

  &__close-button {
    @media screen and (min-width: 1120px) {
      display: none;
    }
  }

  &__logo-container {
    width: 97px;
    height: 51px;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    list-style: none;
  }

  &__menu-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1b1c21;
    position: relative;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #7e7e82;
      transition: color 0.3s;
    }

    &_active {
      color: #7e7e82;

      &::before {
        content: '';
        position: absolute;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        left: -24px;
        top: 50%;
        height: 32px;
        width: 4px;
        background-color: #41f6d7;
        transform: translateY(-50%);
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    row-gap: 40px;
  }

  &__footer-top {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__footer-icons {
    display: flex;
    column-gap: 16px;
  }

  &__footer-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__email {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1b1c21;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #7e7e82;
      transition: color 0.3s;
    }
  }

  &__phone {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1b1c21;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #7e7e82;
      transition: color 0.3s;
    }
  }

  &__language-container {
    display: flex;
    column-gap: 7px;
  }

  &__language-button {
    all: unset;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #7e7e82;
      transition: color 0.3s;
    }

    &_active {
      color: #7e7e82;
    }
  }
}

.sidebar_visible {
  transform: translateX(0);
  transition: transform 0.3s;
}
