.sidebar {
  max-width: 320px;
  width: 100%;
  height: 100%;
  padding: 18.8px 24px 32px 24px;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 16px 0 52px #0e185033;
}

@media screen and (min-width: 1120px) {
  .sidebar {
    display: none;
  }
}
