@font-face {
  font-family: 'TT Lakes';
  src:
    url('../assets/fonts/TTLakes-Bold.woff') format('woff'),
    url('../assets/fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src:
    url('../assets/fonts/TTLakes-Medium.woff') format('woff'),
    url('../assets/fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src:
    url('../assets/fonts/TTLakes-Regular.woff') format('woff'),
    url('../assets/fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
