.sidebar__icon {
  all: unset;
  width: 40px;
  height: 40px;
  background-color: var(--icon-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.sidebar__icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.sidebar__icon img {
  transition: transform 0.3s;
}

.sidebar__icon:hover img {
  transform: scale(0.9);
  transition: transform 0.3s;
}
