.hero__carousel-container {
  position: relative;
}

.hero__carousel-container::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 25px;
  background: linear-gradient(to left, #f8f8f8 30%, transparent);
  right: 0;
  top: 0;
}

.hero__carousel-container::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 25px;
  background: linear-gradient(to right, #f8f8f8 30%, transparent);
  left: 0;
  top: 0;
}