@use '../../scss/vars';
@use '../../scss/mixins';

.footer {
  &__container {
    padding: 16px 4px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    border-top: 1px solid vars.$color-border;
    align-items: center;

    @media screen and (min-width: vars.$breakpoint-tablet) {
      padding: 32px 24px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__text {
    @include mixins.text-style(14, 500, 16, 0);
    opacity: 72.18%;
    color: vars.$color-text-secondary;
    text-align: center;

    @media screen and (min-width: vars.$breakpoint-tablet) {
    }

    &:first-child {
      display: flex;
      flex-direction: column;
      max-width: 218px;

      @media screen and (min-width: vars.$breakpoint-tablet) {
        text-align: left;
      }
    }

    &:last-child {
      max-width: 312px;
      @media screen and (min-width: vars.$breakpoint-tablet) {
        text-align: right;
        max-width: 213px;
      }
    }
  }
}
