.sidebar__menu-item {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  color: #1b1c21;
  position: relative;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar__menu-item:hover {
  color: #7e7e82;
  transition: color 0.3s;
}
