@use '../../scss/vars';

.sidebar-overlay {
  position: fixed;
  background-color: vars.$color-surface;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;

  @media screen and (min-width: vars.$breakpoint-desktop) {
    display: none;
  }
}

.sidebar-overlay_visible {
  pointer-events: all;
  transition: opacity 0.3s;
  opacity: 96.05%;
}
