@use '../../scss/vars';

.prices {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    min-width: 0;
    border-top: 1px solid #d9fff5;
  }

  &__title {
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7e7e82;
    background: linear-gradient(to right, #f8f8f8, #ffffff);

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
    }

    @media screen and (min-width: 1120px) {
      padding: 16px 32px;
    }
  }

  &__price-card {
    padding: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    row-gap: 16px;
    position: relative;
  }

  &__card-row {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__label {
    color: #7e7e82;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
  }

  &__value {
    color: #1b1c21;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  &__card-button {
    background: vars.$accent-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    padding: 2px 10px;
    border: 2px solid vars.$accent-color;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    position: absolute;
    right: 16px;
    bottom: 16px;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }
  }

  &__card-button-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
  }
}
