@use '../../scss/vars';
@use '../../scss/mixins';

.brands {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    min-width: 0;
    border-top: 1px solid vars.$color-border;
  }

  &__title {
    @include mixins.text-style(16, 400, 24, -0.2);
    padding: vars.$padding-mobile;
    text-transform: uppercase;
    color: vars.$color-text-secondary;
    background: vars.$gradient-surface;

    @media screen and (min-width: vars.$breakpoint-tablet) {
      padding: vars.$padding-tablet;
    }

    @media screen and (min-width: vars.$breakpoint-desktop) {
      padding: vars.$padding-desktop;
    }
  }

  &__brand-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid vars.$color-card-border;
    border-radius: 6px;
  }

  &__logo-container {
    display: block;
  }

  &__logo {
    max-width: 100%;
    max-height: 100%;
  }

  &__card-button {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 13px 12px 15px;
    border: 2px solid vars.$color-accent;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }
  }

  &__more-button {
    display: none;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    padding-left: 24px;
    max-width: max-content;

    @media screen and (min-width: vars.$breakpoint-tablet) {
      display: flex;
    }

    @media screen and (min-width: vars.$breakpoint-desktop) {
      padding-left: 32px;
    }
  }

  &__expand-icon {
    transition: transform 0.5s;

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__more-button-text {
    @include mixins.text-style(16, 500, 24, -0.2);
  }
}
