* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'TT Lakes';
  background-color: #f8f8f8;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media screen and (min-width: 1440px) {
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media screen and (min-width: 768px) {
    row-gap: 32px;
  }

  @media screen and (min-width: 1120px) {
    row-gap: 50px;
  }
}

.layout {
  @media screen and (min-width: 1120px) {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1920px;
  }
}

#swiper {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: linear-gradient(to left, #f8f8f8 30%, transparent);
    right: 0;
    top: 0;
    z-index: 5;
  }

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: linear-gradient(to right, #f8f8f8 30%, transparent);
    left: 0;
    top: 0;
    z-index: 5;
  }

  .swiper-slide {
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;

    &.hidden {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &.brands__brand-card {
      height: 72px;
    }

    &.devices__device-card {
      height: 160px;
    }

    &.prices__price-card {
      align-self: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 200px;
      max-width: 280px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 0 24px;

    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 224px);
      gap: 16px 24px;
      transform: none !important;
    }

    .swiper-wrapper.prices__grid {
      grid-template-columns: initial;
      gap: initial;
      padding: 16px;
      box-sizing: border-box;
    }

    .swiper-slide {
      max-width: 224px;
    }

    .swiper-slide.prices__price-card {
      max-width: initial;
      display: grid;
      height: initial;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 1120px) {
    padding: 0 32px;

    .swiper-wrapper {
      grid-template-columns: repeat(auto-fill, 240px);
      gap: 16px 32px;
    }

    .swiper-slide {
      max-width: 240px;
    }
  }
}

#pagination {
  position: static;

  .swiper-pagination-bullet {
    background-color: #dddddd;
    opacity: 1;
    width: 12px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    background-color: #b5b6bc;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
