@use 'vars';

@mixin icon-style {
  all: unset;
  width: 40px;
  height: 40px;
  background-color: vars.$color-accent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

@mixin text-style($size, $weight, $line-height, $letter-spacing) {
  font-size: $size * 1px;
  font-weight: $weight;
  line-height: $line-height * 1px;
  letter-spacing: $letter-spacing * 1px;
}
