@use '../../scss/vars';
@use '../../scss/mixins';

.header {
  @media screen and (min-width: vars.$breakpoint-desktop) {
    display: none;
  }

  &__container {
    padding: 18.59px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: vars.$color-surface;
    border-bottom: 1px solid vars.$color-border;

    @media screen and (min-width: vars.$breakpoint-tablet) {
      padding: 18.59px 24px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    column-gap: 16.73px;

    @media screen and (min-width: vars.$breakpoint-tablet) {
      column-gap: 20px;
    }
  }

  &__icon {
    @include mixins.icon-style;

    img {
      transition: transform 0.3s;
    }

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;

      img {
        transform: scale(0.9);
        transition: transform 0.3s;
      }
    }

    &_tablet {
      display: none;

      @media screen and (min-width: vars.$breakpoint-tablet) {
        display: flex;
      }
    }
  }
  &__divider {
    height: 32px;
    width: 2px;
    background-color: vars.$color-divider;
    border-radius: 1px;

    &_left {
      display: none;

      @media screen and (min-width: vars.$breakpoint-tablet) {
        display: block;
        margin-right: 0px;
      }
    }
  }

  &__logo-container {
    width: 96.55px;
    height: 50.81px;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__icon-group {
    display: flex;
    column-gap: 16px;

    &_left {
      display: none;

      @media screen and (min-width: vars.$breakpoint-tablet) {
        display: flex;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}
