.brands__more-button {
  display: none;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  padding-left: 24px;
  color: #1B1C21;
  
}

@media screen and (min-width: 768px) {
  .brands__more-button {
    display: flex;
  }
}

@media screen and (min-width: 1120px) {
  .brands__more-button {
    padding-left: 32px;
  }
}